<!doctype html>
<html lang=en>
<meta charset=utf8>
<meta name=viewport content=width=device-width,initial-scale=1>
<link rel="shortcut icon" type=image/x-icon href=data:image/x-icon;,>
<title>Shelter</title>
<link rel=stylesheet href=/index.css>
<main>
  <h1>Add animal</h1>
  <form action="/" method="POST">
    <label>Name *
      <input type="text" name="name" required>
    </label>

    <label> Type of Animal *
      <select name="type" required>
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
        <option value="rabbit">Rabbit</option>
      </select>
    </label>

    <label>
      Age *
      <input type="number" name="age" required>
    </label>

    <fieldset>
      <legend>Sex *</legend>
      <label>
        <input type="radio" name="sex" value="male" required> Male
      </label>
      <label>
        <input type="radio" name="sex" value="female" required> Female
      </label>
    </fieldset>

    <label> Weight
      <input type="number" name="weight">
    </label>

    <fieldset>
      <legend>Size</legend>
      <label>
        <input type="radio" name="size" value="small"> Small
      </label>
      <label>
        <input type="radio" name="size" value="medium"> Medium
      </label>
      <label>
        <input type="radio" name="size" value="large"> Large
      </label>
    </fieldset>

    <fieldset>
      <legend>Length</legend>
      <label>
        <input type="radio" name="length" value="short"> Short
      </label>
      <label>
        <input type="radio" name="length" value="medium"> Medium
      </label>
      <label>
        <input type="radio" name="length" value="long"> Long
      </label>
    </fieldset>

    <fieldset>
      <legend>Coat</legend>
      <label>
        <input type="radio" name="coat" value="smooth"> Smooth
      </label>
      <label>
        <input type="radio" name="coat" value="thick"> Thick
      </label>
    </fieldset>

    <fieldset>
      <legend>Vaccinated *</legend>
      <label>
        <input type="radio" name="vaccinated" value="yes" required> Yes
      </label>
      <label>
        <input type="radio" name="vaccinated" value="no" required> No
      </label>
    </fieldset>

    <fieldset>
      <legend>Declawed (cats only)</legend>
      <label>
        <input type="radio" name="declawed" value="yes"> Yes
      </label>
      <label>
        <input type="radio" name="declawed" value="no"> No
      </label>
    </fieldset>

    <fieldset>
      <legend>Color</legend>
      <label> Primary Color *
        <input type="text" name="primaryColor" required>
      </label>
      <label> Secondary Color
        <input type="text" name="secondaryColor">
      </label>
    </fieldset>

    <label> Description
      <textarea name="description" rows="5"></textarea>
    </label>

    <label>
      Shelter *
      <select name="place" required>
        <option value="Brooklyn Animal Care Center">Brooklyn Animal Care Center</option>
        <option value="Manhattan Animal Care Center">Manhattan Animal Care Center</option>
        <option value="Staten Island Animal Care Center">Staten Island Animal Care Center</option>
      </select>
    </label>

    <label>
      Intake Date *
      <input type="date" name="intake" required>
    </label>
    <input type="submit" value-"Submit">
  </form>
</main>
